.main{
    position: fixed;
    right: -100%;
    top: 4rem;
    padding: 1.5rem 2rem;
    display: flex;
    gap: 1rem;
    width: 25rem;
    z-index: 200;
    transition: 0.5s;
}

.message{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.iconMain{
    font-size: 2.5rem;
}

.type1{
    background-color: #EAF7EE;
    color: #5FA56B;
    border: 1px solid #D6EBDD;

}

.type2{
    background-color: #FDECEC;
    color: #D64545;;
    border: 1px solid #F5CACA;
}