*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root{
  --primary: #2E3F6E;
  --secondary: #e8be41; 
  --dark: rgb(46, 46, 46);
  --light: #F5F7FA;
  --light-dark: rgba(0, 0, 0, 0.05);
}

body{
  font-family: sans-serif;
  display: flex;
  min-height: 100vh;
}

#root{
  flex: 1;
  display: flex;
}