*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root{
  --primary: rgb(13, 0, 108);
  --dark: rgb(46, 46, 46);
  --light: white;
}

body{
  font-family: sans-serif;
  display: flex;
  height: 100vh;
}

#root{
  flex: 1;
  display: flex;
}