.container  {
    flex: 1;
    display: flex;
}

.main{
    flex: 1;
    display: flex;
}

@media(max-width: 600px){
    .container{
        flex-direction: column;
    }

    .header div{
        flex-direction: row;
    }
}