.container  {
    flex: 1;
    display: flex;
}

.main{
    flex: 1;
    display: flex;
    background-color: var(--light);
    margin-left: 17rem;
}

@media(max-width: 600px){
    .container{
        flex-direction: column;
    }

    .header div{
        flex-direction: row;
    }

    .main{
        margin-left: initial;
        margin-top: 5rem;
    }
}